@font-face {
    font-family: 'Ancient Greek'; /* Choose a name for your font */
    src: url('/assets/fonts/spartacus.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    background-image: url('/assets/images/dashboard.png');
}