<body>

<div class="registration-container">
  <div class="registration-card">
    <h1>Create a New Account</h1>
    <span>
      Username:
      <input
        class="input"
        type="text"
        placeholder=""
        [(ngModel)]="username"
        required
      />
    </span>
    <span>
      Password:
      <input
        class="input"
        type="password"
        placeholder=""
        [(ngModel)]="password"
        required
      />
    </span>
    <button class="register-btn" (click)="registerUser()" [disabled]="loading">
      Create Account
    </button>
    <div class="go-back">
      Already have an account? <b routerLink="/login">Log in</b>
    </div>
  </div>
</div>
  
</body>
