<div class="container">
  <div class="login-card">
    <h1>Welcome to Maze Solver</h1>
    <div>Sign in to your account</div>
    <span>
      Username:
      <input
        class="input"
        type="text"
        placeholder=""
        [(ngModel)]="username"
        required
      />
    </span>
    <span>
      Password:
      <input
        class="input"
        type="password"
        placeholder=""
        [(ngModel)]="password"
        required
      />
    </span>
    <button class="sign-in-btn" (click)="signIn()" [disabled]="loading">
      Sign in
    </button>
    <div class="go-back">
      Create a new account <b routerLink="/register">here</b>
    </div>
  </div>
</div>
